<configuration>
  <system.webServer>    
    <rewrite>
      <rules>
        <rule name="qepweb.es">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
     <rule name="HTTP to Prod HTTPS redirect" stopProcessing="true">
    <match url="(.*)" />
    <conditions logicalGrouping="MatchAll">
        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        <add input="{HTTP_HOST}" pattern="^(www\.)?(.*)$" />
    </conditions>
    <action type="Redirect" redirectType="Found" url="https://{C:2}" />
</rule>


    <!--  Don't interfere with requests for logs -->
    <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
    </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="server.js" />
            </files>
        </defaultDocument>

  </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
        </system.webServer>
    </location>
</configuration>