@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 195 4% 20%;
    --foreground: 195 4% 20%;
    --card: 0 0% 100%;
    --card-foreground: 197 76% 49%;
    --popover: 0 0% 10%;
    --popover-foreground: 197 76% 49%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 78% 49%;
    --destructive-foreground: 0 27% 91%;
    --border: 0 0% 10%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

 
  
  
  
  
  @layer base {
      html {
        font-family: Quicksand, system-ui, sans-serif;
      }
      
    }
  @layer  {
    .rotate-45 {
      transform: rotate(45deg);
    }
  }
  
  
  
  @layer hover {
    .zoom {
      transform: scale(2);
    }
  }
  @layer hover {
    .zoom {
      transform: scale(2);
    }
  }
  @layer components {
    .alert {
      @apply py-2 px-4 font-semibold rounded-lg shadow-md hover:bg-gray-900  p-5 m-6;
    }
    .alert-default {
      @apply  bg-gray-500 text-gray-900 hover:bg-gray-500 hover:text-gray-200 border border-gray-900;
    }
    .alert-danger {
      @apply bg-red-200   text-red-600 hover:bg-red-500 hover:text-red-200 border border-red-900;
    }
    .alert-warning {
      @apply  bg-yellow-200   text-yellow-600 hover:bg-yellow-600 hover:text-yellow-200 border border-yellow-800;
    }
    .alert-info{
      @apply  bg-sky-200   text-sky-900 hover:bg-sky-500 hover:text-sky-200 border border-sky-800;
    }
  }
  h1 {

    @apply text-2xl text-sky-500 m-2 font-semibold text-center;
  }
  h2 {

    @apply text-2xl text-sky-500  text-left;
  }
  h3 {

    @apply  text-sky-400  text-left;
  }
  h4 {

    @apply text-2xl ;
  }
  h5 {

    @apply  text-yellow-200 font-semibold text-left;
  }
  h6 {

    @apply  text-gray-900 font-bold text-left ;
  }

  p {

    @apply  text-sky-100 font-semibold text-left;
  }
span {

  @apply   text-sky-600 
}
body {
  @apply bg-zinc-800;
  @apply text-slate-100;
}
label {

  @apply  text-sky-200 font-semibold;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
 
}

.navbar-brand img {
  display: inline-block;
  height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  text-decoration:none;
}
/* ajustar la altura de las diapositivas */

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 30%;
  font-weight: bold;
}
.movieDetail-score::before {
  content: '★';
  color: red;
  padding-right: 4px;
  font-size:larger;
}
/* Categories */
.category-container {
  width: 45%;
}

.categoriesPreview-list, .categories-list {
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: #0284c7;
  border-radius: 7px;
  margin-right: 8px;
  width: 7px;
  height: 7px;
}
#id28 { --idColor: var(--red-600); }
#id12 { --idColor: var(--red); }
#id16 { --idColor: var(--green); }
#id35 { --idColor: var(--lightBlue); }
#id80 { --idColor: var(--darkBlue); }
#id99 { --idColor: var(--purple-dark-1); }
#id18 { --idColor: var(--purple-medium-1); }
#id10751 { --idColor: var(--yellow); }
#id14 { --idColor: var(--red); }
#id36 { --idColor: var(--green); }
#id27 { --idColor: var(--lightBlue); }
#id10402 { --idColor: var(--darkBlue); }
#id9648 { --idColor: var(--purple-dark-1); }
#id10749 { --idColor: var(--purple-medium-1); }
#id878 { --idColor: var(--yellow); }
#id10770 { --idColor: var(--red); }
#id53 { --idColor: var(--green); }
#id10752 { --idColor: var(--lightBlue); }
#id37 { --idColor: var(--darkBlue); }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0.2rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
 
}
/* Link {
  @apply py-1  hover:bg-yellow-200 hover:text-lime-700 px-2  shadow-xl   rounded btn-primary

} */
.navbar-brand img {
  display: inline-block;
  height: 3rem;
  margin-right: 0.3rem;
  vertical-align: middle;
  text-decoration:none;
}
}